<app-header-one></app-header-one>
<div class="col-lg-8 col-md-12">
  <div class="blog-details-desc">
      <!--  -->
      <div class="article-image">
          <img [src]="blog.imageUrl" alt="image">
      </div>

      <div class="article-content">
          <div class="entry-meta">
              <ul>
                  <li>
                      <i class='bx bx-folder-open'></i>
                      <span>Category</span>
                      <a routerLink="/blog-details">{{ blog.category }}</a>
                  </li>
                  <li>
                      <i class='bx bx-group'></i>
                      <span>View</span>
                      <a routerLink="/blog-details">813,454</a>
                  </li>
                  <li>
                      <i class='bx bx-calendar'></i>
                      <span>Last Updated</span>
                      <a routerLink="/blog-details">{{ blog.date.toDateString() }}</a>
                  </li>
              </ul>
          </div>
          <h3>{{ blog.description}}</h3>
          <p [innerHTML]="blog.content"></p>
          <ul class="wp-block-gallery columns-3">
              <li class="blocks-gallery-item">
                  <figure>
                      <img src="assets/img/blog/img2.jpg" alt="image">
                  </figure>
              </li>

              <li class="blocks-gallery-item">
                  <figure>
                      <img src="assets/img/blog/img3.jpg" alt="image">
                  </figure>
              </li>

              <li class="blocks-gallery-item">
                  <figure>
                      <img src="assets/img/blog/img4.jpg" alt="image">
                  </figure>
              </li>
          </ul>
          <h3>Can a face mask protect me from coronavirus-2020?</h3>
          <ul class="features-list">
              <li><i class='bx bx-badge-check'></i> Scientific skills for getting a better result</li>
              <li><i class='bx bx-badge-check'></i> Communication skills to getting in touch</li>
              <li><i class='bx bx-badge-check'></i> A career overview opportunity available</li>
              <li><i class='bx bx-badge-check'></i> A good work environment for work</li>
          </ul>
          <h3>Spain death toll up by almost 400 as cases rise around the globe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          <h3>New Africa coronavirus crisis looms with internal spread</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
      </div>

      <div class="article-footer">
          <div class="article-tags">
              <span><i class='bx bx-purchase-tag'></i></span>

              <a routerLink="/">Fashion</a>,
              <a routerLink="/">Games</a>,
              <a routerLink="/">Travel</a>
          </div>

          <div class="article-share">
              <ul class="social">
                  <li><span>Share:</span></li>
                  <li><a href="#" class="facebook" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                  <li><a href="#" class="twitter" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                  <li><a href="#" class="linkedin" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                  <li><a href="#" class="instagram" target="_blank"><i class='bx bxl-instagram'></i></a></li>
              </ul>
          </div>
      </div>
      </div>
      </div>
<!--  -->
